.container{
    margin: 20px 20px;
    /* border: 1px dotted red; */
    background-color: gray;
    border-radius: 1%;
}
#map { 
    height: 300px; 
    border: 1px solid green;
    margin: 0px 30px 30px 0px;
}

#title{
    text-align: center;
    margin: 20px;
}
.form-group {
    margin: 5px 5px; 
}